.footer {
  background-color: #605f5f;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}
