.sidebar {
  width: 250px;
  background-color: #DCDADA;
  height: calc(100vh - 140px); 
  position: fixed;
  top: 100px;
  left: 0;
  border-right: 1px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-end; 
  
  box-sizing: border-box;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 12px;
  justify-content: flex-start;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar li a {
  color: #333; 
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.sidebar li.active a {
  color: #000;
  font-weight: bold;
  
}
.sidebar li:hover {
  color: #333;
  font-weight: bold;        
  transform: scale(1.05);   
  transition: all 0.2s ease; 
}
