/* Overlay semitransparente */
.login-mecanico-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Card de login */
.login-mecanico-card {
  background-color: #2b2b2b;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  width: 320px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px #ffde59;
  box-shadow: 0 0 12px rgba(255, 222, 89, 0.6), 0 0 25px rgba(255, 222, 89, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.login-mecanico-card h2 {  
  color: #ffde59;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.login-mecanico-card input {
  width: 94%;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.login-mecanico-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.login-mecanico-buttons button {
  flex: 1;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-mecanico-buttons button:first-child {
  background-color: #ffde59;
  color: #2b2b2b;
}

.login-mecanico-buttons button:first-child:hover {
  background-color: #e6d649;
}

.login-mecanico-buttons button:last-child {
  background-color: #807e7e;
  color: #fff;
}

.login-mecanico-buttons button:last-child:hover {
  background-color: #6e6c6c;
}
