.puntos-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1f1f1f;
  color: #fff;
}

.puntos-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding: 40 px 20px;
}

.taller-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffde59;  
  text-align: center;
}

.volver-btn {
  align-self: flex-start;
  margin-bottom: 0px;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  background-color: #757474;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.volver-btn:hover {
  background-color: #444;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.auto-img {
  width: 100%;
  max-width: 1250px;
  border-radius: 12px;
  box-shadow:  0 6px 16px rgba(0,0,0,0.5);
}

