@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');


.taller-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1f1f1f; 
  color: #fff;
}

/* --- MAIN CONTENT --- */
.taller-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 40px 20px;
}

.taller-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #ffde59;  
  text-align: center;
}

/* --- CARDS CONTAINER --- */
.taller-cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap; 
  width: 100%;
  max-width: 1600px;
  margin-top: 70px;
  
}

/* --- INDIVIDUAL CARD --- */
.taller-card {
  background-color: #2b2b2b;
  border-radius: 12px;
  width: 220px;
  height: 350px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.taller-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(255, 222, 89, 0.3);
}

.taller-label {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 5px;
  opacity: 0.9;
}

.taller-number {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 4.5rem;
  color: #ffde59;  
}

.taller-mechanic {
  font-size: 1.1rem;
  color: #e0e0e0;
  margin-top: 8px;
  margin-bottom: 60px;
}

/* --- STATUS --- */
.taller-status {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 1rem;
  margin-bottom: 4px;
  
}

.pendientes,
.en-curso {
  margin: 0;
}

.pendientes {
  color: #807e7e;
  font-weight: bold;
}

.en-curso {
  color: #ffde59; 
  font-weight: bold;
}

.pendientes span,
.en-curso span {
  font-size: 1.2rem;
  margin-left: 5px;
}


/* solo para desarrollo, para volver a home*/
.volver-desarrollo {
  background-color: #2b2b2b; 
  color: #ffde59; 
  border: 2px #ffde59;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 0.45rem;
  cursor: pointer;
  transition: all 0.2s ease;
  
}

