.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  animation: fadeInOverlay 0.25s forwards;
}

.popup-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transform: translateY(-20px);
  opacity: 0;
  animation: fadeInPopup 0.25s forwards;
}



.popup-info p {
  margin: 6px 0;
  font-size: 15px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-modificar {
  background-color: #4CAF50;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.btn-cerrar {
  background-color: #6c757d;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cerrar:hover {
  background-color: #4a4a4a;
}

.btn-modificar:hover {
  background-color: #1f5a20;
}
/* Animaciones */
@keyframes fadeInOverlay {
  to { opacity: 1; }
}

@keyframes fadeInPopup {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}