.agenda-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.agenda-content {
  display: flex;
  flex: 1;
  background-color: #F7F7F7;
}

.agenda-header {
    margin-bottom: 4rem;
}

.agenda-columns {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  width: 85%;
  height: 100%; 
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 80px);
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1a1a1a;
  text-align: center;
}

.calendarios-container {
  width: 245px; 
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.table-container {
  flex: 1; 
  overflow-x: auto;
  overflow-y: auto;
  max-height: 100%; 
}

.table-container table {
  width: 100%; 
  min-width: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 6px 8px; /* antes 12px */
  border: 1px solid #ccc;
  text-align: center;
  height: 35px; /* antes 50px */
}

th {
  background-color: #605F5F;
  color: white;
  font-size: 0.95rem;
}

td {
  font-weight: 500;
  border-radius: 2px;
  color: rgb(5, 5, 5);
  font-size: 0.9rem;
}

td:hover {
  filter: brightness(0.95);
}


/* ====== MODAL ====== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 400px;
  text-align: center;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-content h2 {
  margin-bottom: 1rem;
  color: #333;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5rem;
}


.cancel-btn {
  background-color: #b0b0b0;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cancel-btn:hover {
  background-color: #8e8e8e;
}

.save-btn {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-btn:hover {
  background-color: #1565c0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

/* ===== MODAL CONTEXTUAL  ===== */
.modal-contextual {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 3000;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-contextual h2 {
  margin-bottom: 0.6rem;  
  color: #333;
  font-size: 1rem;
}
.modal-contextual h3 {
  margin-bottom: 0.6rem;  
  color: #333;
}

.modal-contextual p {
  margin: 0.3rem 0;
  font-size: 0.7rem;
  color: #444;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modalcancel-btn,
.modalsave-btn {
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0.85rem;
  cursor: pointer;
  color: #000;
  font-size: 0.55rem;
}

.modalcancel-btn {
  background-color: #ccc;
  
}

.modalsave-btn {
  background-color: #4CAF50;
  
}

.modalcancel-btn:hover {
  background-color: #a8a8a8;
}

.modalsave-btn:hover {
  background-color: #1f5a20;
  color: white;
}