.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e7e5e5;
}

/* Contenedor del cuerpo: sidebar + contenido */
.dashboard-content {
  display: flex;
  flex: 1;
  background-color: #e7e5e5;
  position: relative;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: #DCDADA;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 140px); 
  position: fixed;
  top: 100px; 
  left: 0;
  overflow-y: auto;
  border-right: 1px solid #bfbfbf;
}

/* CONTENIDO PRINCIPAL */
.main-content {
  flex: 1;
  margin-left: 250px; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #E7E5E5;
  overflow-y: auto;
}

.main-content h1 {
  color: #1a1a1a;
  margin-bottom: 10px;
}

.main-content p {
  color: #333;
  font-size: 1.1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  justify-items: center;
  margin-left: 120px;
  margin-right: 120px;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  aspect-ratio: 1 / 1;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 3rem; 
  color: #3a5774;
  margin-top: 2rem;
}

.card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}

.card p {
  font-size: 2.3rem;
  font-weight: bold;
  color: #333;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.date-picker {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}
