.orden-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.orden-content {
  display: flex;
  flex: 1;
  background-color: #E7E5E5;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  color: #1a1a1a;
  text-align: center;
}

.orden-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-like {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.datos-turno {
  background-color:#b3b39c ;
}

.datos-turno p{
  margin: 0;
  font-size: 15px;
}
.datos-turno .columna {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.datos-turno .columna p {
  margin: 0;
}

.ingreso-taller {
  flex-direction: column;
  gap: 20px;
}

.fila-superior {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95rem;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

textarea {
  resize: vertical;
  width: 100%;
  min-height: 120px;
}

.botones-container {
  display: flex;
  justify-content: flex-end; 
  gap: 15px; 
  width: 50%; 
  margin-left: auto; 
  margin-top: 20px; 
}

.botones {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: auto;
}

.cancel-btn, .save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.cancel-btn {
  background-color: #959494;
  min-width: 120px;
}

.save-btn {
  background-color: #4CAF50;
  color: white;
  min-width: 160px;
}

.save-btn:hover {
  background-color: #1f5a20;
}
